registry=https://registry.npmjs.org/
# @hyc:registry=http://nexus.hydevops.com/repository/npm-hy-hosted
# registry=http://nexus.hydevops.com/repository/npm-hy-hosted/
# registry=http://nexus.hydevops.com/repository/npm-hy-frontend-group/
# registry=http://nexus.hydevops.com/repository/npm-official-proxy/
# registry=http://nexus.hydevops.com/repository/npm-taobao-proxy/
# registry=http://npm.taobao.org/